@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Press+Start+2P&display=swap');
html {

}

h1 {
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
}
h2 {
    font-family: "Creepster", sans-serif;
}
body {
    background-color: black;
    background-image: url("../img/spacex-PIOgkhaF3WA-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

p {
    color:white;
}
ul {
    color: white;
    list-style: square;
}
ol {
    color: white;
    list-style: upper-alpha;
}
th {
    text-decoration: underline;
}
td {
    color: black;
    padding: 15px;
}


.tmnt-d {
    color: #995AA0;
    text-decoration: underline;
}
.tmnt-m {
    color: #EA9500;
    text-decoration: underline;
}
.tmnt-r {
    color: #E3331C;
    text-decoration: underline;
}
.tmnt-l {
    color: #00AAE6;
    text-decoration: underline;
}
.tmnt-s {
    color: #4C9C23;
    text-decoration: underline;
}
a {
    background-color: lightgrey;
}

a:link {
    color: red;
}
a:visited {
    color: black;
}
a:hover {
    color: blue;
}
a:active {
    color: green;
}