
h1 {
    text-align: center;
}
body {
    background-color: lightgray;
    background-image: url("../img/spacex-PIOgkhaF3WA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/



}
.tmnt-d {
    color: #995AA0;
    text-decoration: underline;
}
.tmnt-m {
    color: #EA9500;
    text-decoration: underline;
}
.tmnt-r {
    color: #E3331C;
    text-decoration: underline;
}
.tmnt-l {
    color: #00AAE6;
    text-decoration: underline;
}
.tmnt-s {
    color: #4C9C23;
    text-decoration: underline;
}