

.tmnt-d {
    background-color: #995AA0;
}
.tmnt-m {
    background-color: #EA9500;
}
.tmnt-r {
    background-color: #E3331C;
}
.tmnt-l {
    background-color: #00AAE6;
}
.tmnt-s {
    background-color: #4C9C23;
}